<div class="container">

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/year">Home</a></li>
      <li class="breadcrumb-item"><a href="/type">Programs</a></li>
      <li class="breadcrumb-item"><a href="/session">Sessions</a></li>
      <li class="breadcrumb-item active">Customize</li>
      
    </ol>

    <div ng-repeat="item in items">
        <div class="input-group padding">
        <label type="label" name="input_name" class="form-control" >{{item.label}}</label>
        <span class="input-group-addon">
            <label>
                <center>
                    <input ng-model="item.checked" type="checkbox" name="my-checkbox" checked>
                </center>
            </label>
        </span>
    </div>
    
</div>

    <button ng-click="submit()" class="btn btn-lg btn-primary btn-block">Submit</button>
</div>