<div class="container">

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item"><a>Programs</a></li>
      <li class="breadcrumb-item"><a>Sessions</a></li>
      <li class="breadcrumb-item active"><a href="/courses">Customize</a></li>
    </ol>

    <div ng-repeat="item in items" class="card padding">
        <div class="card-header">
            {{item.label}}
        </div>
        <div class="card-block">

            <ul class="list-group">
                <a ng-click="onClickItem(item)" href="" ng-repeat="event in item.events" class="list-group-item">
                    <i class="icon ion-calendar royal"></i>
                    {{event.label}}
                </a>
            </ul>
        </div>
    </div>

    <button ng-click="submit()" class="btn btn-success btn-block">
        <i class="icon ion-ios-download"></i>
        Export as ICS</button>

</div>